/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#tdm-wmc-dropdown-main-container{
  cursor: pointer;
}
.tdm-wmc-dropdown-container{
  display:none;
}
.widget_tdm_wmc_widget .tdm_wmc_before_container{
  margin: 20px;
}
.widget_tdm_wmc_widget .tdm-wmc-list{
  margin:20px;
}
.widget_tdm_wmc_widget .tdm-wmc-list li{
  list-style: none ;
}
